.flex-container-header
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 8px;
    margin-left: 8px;
}
.meno
{
    font-family: 'Brush Script MT', cursive;
    font-size: 250%;
}
body
{
    background-color: grey;
    margin: 0;
}
header
{
    background-color: #4d4d4d;
}
.flex-container-nav
{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-right: 8px;
    margin-left: 8px;
}
nav
{
    background-color: #4d4d4d;
    border-bottom: 3px solid black;
}
article
{
    border-bottom: 3px solid black;
}
footer
{
    background-color: #4d4d4d;
    margin: 0px;
    box-shadow: 0 50vh 0 50vh #4d4d4d;
}
.licence
{
    text-align: center;
    margin: 0px;
}
.obsah
{
    margin-right: 8px;
    margin-left: 8px;
}
.flex-container-article
{
    display: flex;
}
.fotka
{
    margin: 8px;
    border-radius: 50%;
}